* {
  padding: 0;
  margin: 0;
  max-width: 300px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

button {
  display: inline-block;
  border: 1px solid;

  color: #fff;
  padding: 15px 20px;
  margin: 5px 0;
  width: 49%;
}

h1 {
  background: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

#start {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#lap {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  

}
#error{
  color: #a94442;
  background-color: #f2dede;
  border: none;
  display: none;
  padding: 15px 20px;
  margin: 5px 0;
}
#stop{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  
  float: right;
}
#reset{
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
 
  float: right;
}
#display {
  padding: 10px;
  width: 100%;
  color: #333;
  background-color: #f4f4f4;
  
  border: 1px dotted #bce8f1;
}
p {
  display: inline-block;
  border: 1px solid #ccc;
  width: 100%;
  
}
#elapsed {
  background-color: #f4f4f4;
  padding: "10px";
  border-bottom: "1px solid #ccc";
  margin: 10px 0;
}
#laps p, input{
  color: #333;
  background-color: #f4f4f4;
  border-color: #ccc;
  margin: 1px 0;
  
}
